
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" routerLink="/">Dating App</a>

        <!-- Collapse button when small size -->
        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarCollapse" 
                aria-controls="navbarCollapse" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Bookmarks -->
            <ul class="navbar-nav mr-auto">
                <!-- Ng-container doesn't render html -->
                <ng-container *ngIf="accountService.currentUser$ | async" class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </li>
                    <!-- Active -->
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li> -->
                    <!-- Disabled -->
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
                </li>
                
            </ul>

            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.username | titlecase}}</a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item">Edit profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click) ="logout()">Logout</a>
                </div>
            </div>

            <!-- Search bar -->
            <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
                
                <!-- Username -->
                <input
                    class="form-control mr-sm-2" 
                    name="username" 
                    [(ngModel)]="model.username"
                    type="text" 
                    placeholder="Username">

                <!-- Password -->
                <input  
                    class="form-control mr-sm-2" 
                    name = "password"
                    [(ngModel)]="model.password"
                    type="text" 
                    placeholder="Password">

                <!-- Login button -->
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </form>

        </div>
    </div>

    
</nav>